POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpassword
POSTGRES_DB=testdb
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin123@admin.com
PGADMIN_DEFAULT_PASSWORD=EkQKv8
PGADMIN_PORT=5050
JWT_SECRET=12xpQ0eTtA2zOS0jdBWqWLfe9fA87FFCpDhULHUjFcT