POSTGRES_USER=postgres
POSTGRES_PASSWORD=pgpwd
POSTGRES_DB=testdb
POSTGRES_PORT=5432

DB_USER=pguser
DB_PASSWORD=pgpwd

PGADMIN_DEFAULT_EMAIL=pguser@mail.ru
PGADMIN_DEFAULT_PASSWORD=pgadmin
PGADMIN_PORT=8081
