name: GolangCI Lint Backend

on:
  pull_request:
    paths:
      - 'Backend/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Run GolangCI Lint for Backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.9.0
          working-directory: Backend
          args: --config .golangci.yml --timeout=5m